{% extends 'layouts/index.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'styles/detail.css' %}">
{% endblock %}

{% block content %}
    <div class="product">
        <div class="container">
            <section class="product_block">
                <img src="/media/{{ product.image }}" alt="product image">
                <h2>{{ product.title }}</h2>
                <h3>Rate: {{ product.rate }}</h3>
                <h4>Price: {{ product.price }}</h4>
                <p>Description: {{ product.description }}</p>
                <div class="dates">
                    <p>{{ product.created_date }}</p>
                    <p>{{ product.modified_date }}</p>
                </div>
            </section>
            <form action="/products/{{ product.id }}" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Add comment">
            </form>
            <section class="comments">
                <h2>comments:</h2>
                {% for comment in comments %}
                    <div class="comment">
                        <h2>{{ comment.text }}</h2>
                    </div>
                {% endfor %}
            </section>
        </div>
    </div>
{% endblock %}